<html>

  <head>
  <title>CUHACTF_Register</title>
  <%- include('../common/sub_head.ejs') %>
  <link rel="stylesheet" href="../../stylesheets/register.css">
  </head>

  <%- include('../common/header.ejs') %>

  <body>
    <div class="login-box">
      <h2>Register</h2>
      <form action="/register/submit" method="post">
        <div class="user-box">
          <input type="text" name="email" required="true">
          <label>Email</label>
        </div>
        <div class="user-box">
          <input type="text" name="student_number" required="true">
          <label>Student Number</label>
        </div>
        <div class="user-box">
          <input type="text" name="nickname" required="true">
          <label>Nickname</label>
        </div>
        <div class="user-box">
          <input type="password" name="password" required="true">
          <label>Password</label>
        </div>
        <div class="user-box">
          <input type="password" name="re_password" required="true">
          <label>Repassword</label>
        </div>
        <button type="submit" class="btn">
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          submit
        </button>
      </form>
    </div>
  </body>
</html>