<html>

    <head>
    <title>CUHACTF_Settings</title>
    <%-include('../common/sub_head.ejs') %>
    <link rel="stylesheet" href="../../stylesheets/settings.css">
    </head>

    <%-include('../common/header.ejs') %>

    <body>
     
      <div class="login-box">
        <h2>Settings</h2>
        <form action="/settings/submit" method="post">
          <div class="user-box">
            <input type="text" name="email" required="true" value="<%= session.email %>" >
            <label>Email</label>
          </div>
          <div class="user-box">
            <input type="text" name="nickname" required="true" value="<%= session.nickname %>">
            <label>Nickname</label>
          </div>
          <div class="user-box">
            <input type="password" name="password" required="true">
            <label>Password</label>
          </div>
          <div class="user-box">
            <input type="password" name="re_password" required="true">
            <label>Repassword</label>
          </div>
          <button type="submit" class="btn">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            submit
          </button>
        
      </div>
    </form>
     
    </body>

</html>