<html>

  <head>
    <title>CUHACTF_Challenges</title>
    <%-include('../../common/sub_head.ejs') %>
  </head>

  <%-include('../../common/header.ejs') %>

  

  <body>
    <%-include('../../common/challenges.ejs') %>
    
   

 
   <div class="container">
      <div class="card">
        <div class="face face1">
          <div class="content">
             <i class="fab fa-windows"></i>            
            <h3>Challenge1</h3>
            <br>
            <h3>Easy</h3>
          </div>
        </div>
        <div class="face face2">
          <div class="content">
            <br>
            <p> Points : 100pt</p>
            <br>
            <p> Examiner : 장현호</p>
            <br>
            <div class="triggers">
              <label for="popup-1">Challenge</label>
            </div>
          </div>
        </div>
     </div>
     
     <div class="card">
      <div class="face face1">
        <div class="content">

           <i class="fab fa-windows"></i>            
          <h3>Challenge2</h3>
          <br>
          <h3>Normal</h3>
        </div>
      </div>
      <div class="face face2">
        <div class="content">
          <br>
          <p> Points : 300pt</p>
          <br>
          <p> Examiner : 장현호</p>
          <br>
          <div class="triggers">
            <label for="popup-2">Challenge</label>
          </div>
        </div>
      </div>
   </div>
     
     
   <div class="card">
    <div class="face face1">
      <div class="content">
         <i class="fab fa-windows"></i>            
        <h3>Challenge3</h3>
        <br>
        <h3>Normal</h3>
      </div>
    </div>
    <div class="face face2">
      <div class="content">
        <br>
        <p> Points : 300pt</p>
        <br>
        <p> Examiner : 장현호</p>
        <br>
        <div class="triggers">
          <label for="popup-3">Challenge</label>
        </div>
      </div>
    </div>
 </div>
     
     
     
     
     
     
   </div>

   <div class="container">
    <div class="card">
      <div class="face face1">
        <div class="content">
           <i class="fab fa-windows"></i>            
          <h3>Challenge4</h3>
          <br>
          <h3>Hard</h3>
        </div>
      </div>
      <div class="face face2">
        <div class="content">
          <br>
          <p> Points : 500pt</p>
          <br>
          <p> Examiner : 장현호</p>
          <br>
          <div class="triggers">
            <label for="popup-4">Challenge</label>
          </div>
        </div>
      </div>
   </div>
   
   <div class="card">
    <div class="face face1">
      <div class="content">
         <i class="fab fa-windows"></i>            
        <h3>Challenge5</h3>
        <br>
        <h3>Hard</h3>
      </div>
    </div>
    <div class="face face2">
      <div class="content">
        <br>
        <p> Points : 500pt</p>
        <br>
        <p> Examiner : 장현호</p>
        <br>
        <div class="triggers">
          <label for="popup-5">Challenge</label>
        </div>
      </div>
    </div>
 </div>
   
   
<!-- 
 <div class="card">
  <div class="face face1">
    <div class="content">
       <i class="fab fa-windows"></i>            
      <h3>Challenge6</h3>
    </div>
  </div>
  <div class="face face2">
    <div class="content">
      <br>
      <p> Points : </p>
      <br>
      <p> Examiner : </p>
      <br>
      <div class="triggers">
        <label for="popup-6">Challenge</label>
      </div>
    </div>
  </div>
</div>
   
   
   
   
 </div>

 <div class="container">
  <div class="card">
    <div class="face face1">
      <div class="content">
         <i class="fab fa-windows"></i>            
        <h3>Challenge7</h3>
      </div>
    </div>
    <div class="face face2">
      <div class="content">
        <br>
        <p> Points : </p>
        <br>
        <p> Examiner : </p>
        <br>
        <div class="triggers">
          <label for="popup-7">Challenge</label>
        </div>
      </div>
    </div>
 </div>
 
 <div class="card">
  <div class="face face1">
    <div class="content">
       <i class="fab fa-windows"></i>            
      <h3>Challenge8</h3>
    </div>
  </div>
  <div class="face face2">
    <div class="content">
      <br>
      <p> Points : </p>
      <br>
      <p> Examiner : </p>
      <br>
      <div class="triggers">
        <label for="popup-8">Challenge</label>
      </div>
    </div>
  </div>
</div>
 
 
<div class="card">
  <div class="face face1">
    <div class="content">
       <i class="fab fa-windows"></i>            
      <h3>Challenge9</h3>
    </div>
  </div>
  <div class="face face2">
    <div class="content">
      <br>
      <p> Points : </p>
      <br>
      <p> Examiner : </p>
      <br>
      <div class="triggers">
        <label for="popup-9">Challenge</label>
      </div>
    </div>
  </div>
</div>
-->
 <input type="checkbox" class="vcms__popup-check" name="popup-1" id="popup-1">
<div class="vcms__popup">
  <div class="inner">
    <div class="header">
      Challenge1
    </div>
    <div class="txt">
      <p><b>Simple Substitution</b></p>
      <br>
      <p>JBOH{Lhzf_jfwav_johsslunl_dpao_Jhlzhy_jpwoly}</p>
      <p>Hint1: 글자만 잘 치환하면 될 거 같아요<br>
         Hint2: 복호화를 위해 뒤로 7번 움직이세요.
        </p>  
    </div>
    <form action="/challenge/flag" method="post">
    <div class="footer">
      <button class="btn" type="submit" method="post">Flag</button>
      <input type="hidden" name="challenge_title" value="crypto1">
      <input class="flag" id="flag" type="text" name='flag' placeholder="CUHA{c_u_h_a_f_l_a_g}" />
      <label class="close" for="popup-1">Close</label>
    </div>
  </div>
</div>
</form>
<input type="checkbox" class="vcms__popup-check" name="popup-2" id="popup-2">
<div class="vcms__popup">
  <div class="inner">
    <div class="header">
      Challenge2
    </div>
    <div class="txt">
      <p><b>Magic</b></p>
      <br>
      <p>51 31 56 49 51 58 74 45 4d 46 39 35 4d 48 56 66 61 32 34 77 64 31 39 74 4e 47 63 78 59 7a 45 30 62 6a 38 68 49 53 45 2f 49 54 38 68 4f 6b 52 39</p>
      <p>Hint1: Hint는 이미 주어졌습니다.<br>
         Hint2: 툴을 사용하세요!
        </p>  
    </div>
    <form action="/challenge/flag" method="post">
    <div class="footer">
      <button class="btn" type="submit" method="post">Flag</button>
      <input type="hidden" name="challenge_title" value="crypto2">
      <input class="flag" id="flag" type="text" name='flag' placeholder="CUHA{c_u_h_a_f_l_a_g}" />
      <label class="close" for="popup-2">Close</label>
    </div>
  </div>
</div>
</form>

<input type="checkbox" class="vcms__popup-check" name="popup-3" id="popup-3">
<div class="vcms__popup">
  <div class="inner">
    <div class="header">
      Challenge3
    </div>
    <div class="txt">
      <p><b>3DES</b></p>
      <br>
      <p>플래그를 찾아주세요.<br>
         키는 CUHACTF2022 입니다.
      </p>
      <p>Hint: Ciphertext ⊕ Plaintext</p>
      <p><a href='crypto/download_crypto1'>odt-IV-adb6be87eb09b76d.dat</a></p>
    </div>
    <form action="/challenge/flag" method="post">
    <div class="footer">
      <button class="btn" type="submit" method="post">Flag</button>
      <input type="hidden" name="challenge_title" value="crypto3">
      <input class="flag" id="flag" type="text" name='flag' placeholder="CUHA{c_u_h_a_f_l_a_g}" />
      <label class="close" for="popup-3">Close</label>
    </div>
  </div>
</div>
</form>

<input type="checkbox" class="vcms__popup-check" name="popup-4" id="popup-4">
<div class="vcms__popup">
  <div class="inner">
    <div class="header">
      Challenge4
    </div>
    <div class="txt">
      <p><b>Zigzag</b></p>
      <br>
      <p style="word-wrap: break-word;">EXODXXNRDNECDADNOTIAEASHAQJEFFJSDDZRVRDOWFDRRXGJIWRBYPBRYOXYUOXEEXEEXXAMSNXOHEOEIOHEQTTHMJGVGOKECONDRWWGWIYTJR</p>
      <p>Hint1: 지그재그로 난 길을 알기 위해서는 CUHA 키가 필요해요.</p>  
    </div>
    <form action="/challenge/flag" method="post">
    <div class="footer">
      <button class="btn" type="submit" method="post">Flag</button>
      <input type="hidden" name="challenge_title" value="crypto4">
      <input class="flag" id="flag" type="text" name='flag' placeholder="CUHA{c_u_h_a_f_l_a_g}" />
      <label class="close" for="popup-4">Close</label>
    </div>
  </div>
</div>
</form>

<input type="checkbox" class="vcms__popup-check" name="popup-5" id="popup-5">
<div class="vcms__popup">
  <div class="inner">
    <div class="header">
      Challenge5
    </div>
    <div class="txt">
      <p><b>RSA</b></p>
      <br>
      <p>개인키를 찾아주세요</p>
      <p>
         Hint1: 이 RSA는 취약합니다.<br>
         Hint2: d가 작습니다.
      </p>
      <p><a href='crypto/download_crypto2'>key.txt</a></p>
    </div>
    <form action="/challenge/flag" method="post">
    <div class="footer">
      <button class="btn" type="submit" method="post">Flag</button>
      <input type="hidden" name="challenge_title" value="crypto5">
      <input class="flag" id="flag" type="text" name='flag' placeholder="CUHA{c_u_h_a_f_l_a_g}" />
      <label class="close" for="popup-5">Close</label>
    </div>
  </div>
</div>
</form>

<!--
<input type="checkbox" class="vcms__popup-check" name="popup-6" id="popup-6">
<div class="vcms__popup">
  <div class="inner">
    <div class="header">
      Challenge6
    </div>
    <div class="txt">
      <p>Contents</p>
      <p>Hint : </p>  
    </div>
    <div class="footer">
      <a class="btn" href="#">Flag</a>
      <input class="flag" id="flag" type="text" placeholder="CUHA{c_u_h_a_f_l_a_g}" />
      <label class="close" for="popup-6">Close</label>
    </div>
  </div>
</div>

<input type="checkbox" class="vcms__popup-check" name="popup-7" id="popup-7">
<div class="vcms__popup">
  <div class="inner">
    <div class="header">
      Challenge7
    </div>
    <div class="txt">
      <p>Contents</p>
      <p>Hint : </p>  
    </div>
    <div class="footer">
      <a class="btn" href="#">Flag</a>
      <input class="flag" id="flag" type="text" placeholder="CUHA{c_u_h_a_f_l_a_g}" />
      <label class="close" for="popup-7">Close</label>
    </div>
  </div>
</div>

<input type="checkbox" class="vcms__popup-check" name="popup-8" id="popup-8">
<div class="vcms__popup">
  <div class="inner">
    <div class="header">
      Challenge8
    </div>
    <div class="txt">
      <p>Contents</p>
      <p>Hint : </p>  
    </div>
    <div class="footer">
      <a class="btn" href="#">Flag</a>
      <input class="flag" id="flag" type="text" placeholder="CUHA{c_u_h_a_f_l_a_g}" />
      <label class="close" for="popup-8">Close</label>
    </div>
  </div>
</div>

<input type="checkbox" class="vcms__popup-check" name="popup-9" id="popup-9">
<div class="vcms__popup">
  <div class="inner">
    <div class="header">
      Challenge9
    </div>
    <div class="txt">
      <p>Contents</p>
      <p>Hint : </p>  
    </div>
    <div class="footer">
      <a class="btn" href="#">Flag</a>
      <input class="flag" id="flag" type="text" placeholder="CUHA{c_u_h_a_f_l_a_g}" />
      <label class="close" for="popup-9">Close</label>
    </div>
  </div>
</div>
-->
  </body>
</html>