<!DOCTYPE html>
<html>
  <head>
    <title>CUHACTF_Home</title>
    <%-include('common/index_head.ejs')%>
  </head>
    <%-include('common/header.ejs')%>
      <body>
        <div class="main_title">
          <div class = "index_title">
            <h1 style="font-size: 150px;">
              CUHA <br />
              CTF 2022 <br />
            </h1>
          </div>
        </div>

        <article class="white" style="text-align:center;">
          <p class="main_flag">CUHA{G00d!th1s_1s_th3_s4nity_ch3ck!!!:D}</p>
          <h1>Welcome to CUHA CTF 2022!!!</h1>
          <br>
          <h3>CTF Period</h3>
          <br>
          <p>Start : YYYY-MM-DDThh:mm:ss+09:00</p>
          <p>End : YYYY-MM-DDThh:mm:ss+09:00</p>
          <br>
          <h3>Time remaning</h3>
          <br>
          <p>PnDTnHnMnS</p>
          <br>
          <br>
          <img class="discord_img" src="https://img.icons8.com/ios/200/000000/discord.png"/>
        </article>
    <footer>
      <section class="stacked-cards">
        <div class="section-header">
          <h2>
            who <br>
            made <br>
            CUHA <br>
            CTF <br>
            2022 <br>
          </h2>
        </div>
        <div class="card-grid">
          <div class="childs">
            <article class="child">
              <h2><a href="#">PM</a></h2>
              <p>
                김광운
              </p>
              <p>
                CUHA 동아리 회장
              </p>
              <div class="buttons">
                <a href="https://kilkat.tistory.com/"><button class="button detail"> link </button></a>
              </div>
            </article>
            <article class="child">
              <h2><a href="#">Developer, Publisher</a></h2>
              <p>
                장현호
              </p>
              <p>
                CUHA 동아리 회원
              </p>
              <p>
                Client 동아리 회원
              </p>
              <div class="buttons">
                <a href="https://github.com/CyberSecurityHat"><button class="button detail"> link </button></a>
              </div>
            </article>
          </article>
          <article class="child">
            <h2><a href="#">Developer, Publisher</a></h2>
            <p>
              유지민
            </p>
            <p>
              CUHA 동아리 회원
            </p>
            <div class="buttons">
              <a href="https://yjm0621.tistory.com/"><button class="button detail"> link </button></a>
            </div>
          </article>
          <div class="childs">
            <article class="child">
              <h2><a href="#">License</a></h2>
              <p class="license">
                The MIT License (MIT)
              </p>
              <p class="license">
                Copyright (c) 2022 by Muhammed Erdem (https://codepen.io/Firsov36/pen/PoqBYrL)
              </p>
              <p class="license">
                Permission is hereby granted, free of charge, to any person obtaining a copy
                of this software and associated documentation files (the "Software"), to deal
                in the Software without restriction, including without limitation the rights
                to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
                copies of the Software, and to permit persons to whom the Software is
                furnished to do so, subject to the following conditions:
              </p>
              <p class="license">
                The above copyright notice and this permission notice shall be included in all
                copies or substantial portions of the Software.
              </p>
              <p class="license">
                THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
                IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
                FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
                AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
                LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
                OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
                SOFTWARE.
              </p>
            </article>
            <article class="child">
              <h2><a href="#">License</a></h2>

              <p class="license">
                The MIT License (MIT)
              </p>
              <p class="license">
                Copyright (c) 2022 by Wyatt Nolen (https://codepen.io/wyattnolen/pen/zzrbjb)
              </p>
              <p class="license">
                Permission is hereby granted, free of charge, to any person obtaining a copy
                of this software and associated documentation files (the "Software"), to deal
                in the Software without restriction, including without limitation the rights
                to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
                copies of the Software, and to permit persons to whom the Software is
                furnished to do so, subject to the following conditions:
              </p>
              <p class="license">
                The above copyright notice and this permission notice shall be included in all
                copies or substantial portions of the Software.
              </p>
              <p class="license">
                THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
                IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
                FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
                AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
                LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
                OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
                SOFTWARE.
              </p>
            </article>
          </div>
        </div>
      </section>
    </footer>
  </body>
</html>