<!DOCTYPE html>
<html>
  <head>
    <title>CUHACTF_Home</title>
    <%-include('common/index_head.ejs')%>
  </head>
    <%-include('common/header.ejs')%>
      <body>
        <div class="main_title">
          <div class = "index_title">
            <h1 style="font-size: 150px;">
              CUHA <br />
              CTF 2022 <br />
            </h1>
          </div>
        </div>

        <article class="white" style="text-align:center;">
          <p class="main_flag">CUHA{G00d!th1s_1s_th3_s4nity_ch3ck!!!:D}</p>
          <h1>Welcome to CUHA CTF 2022!!!</h1>
          <br>
          <h3>CTF Period</h3>
          <br>
          <p>Start : 20222-11-19T14:00:00+09:00</p>
          <p>End : 2022-11-19T18:00:00+09:00</p>
          <br>
          <script src="https://cdn.logwork.com/widget/countdown.js"></script>
          <a href="https://logwork.com/countdown-wijv" class="countdown-timer" data-timezone="Asia/Seoul" data-language="ko" data-date="2022-11-19 14:00" data-textcolor="#ffffff" data-date="2022-09-26 20:20" data-unitscolor="#ffffff">Countdown</a>
          <br>
          <br>
          <br>
          <a href="https://discord.gg/ANgjYwez"><img class="discord_img" src="https://img.icons8.com/ios/200/000000/discord.png"/></a>
          <br>
          <br>
          <p>If you want help, Click to discord server!!!</p>
          <br>
        </article>
    <footer>
      <section class="stacked-cards">
        <div class="section-header">
          <h2>
            who <br>
            made <br>
            CUHA <br>
            CTF <br>
            2022 <br>
          </h2>
        </div>
        <div class="card-grid">
          <div class="childs">
            <article class="child">
              <h2><a href="#">Developer, Examiner</a></h2>
              <p>
                김광운
              </p>
              <p>
                CUHA 동아리 회장
              </p>
              <div class="buttons">
                <a href="https://kilkat.tistory.com/"><button class="button detail"> link </button></a>
              </div>
            </article>
            <article class="child">
              <h2><a href="#">Developer, Examiner</a></h2>
              <p>
                장현호
              </p>
              <p>
                CUHA 동아리 회원
              </p>
              <p>
                Client 동아리 회원
              </p>
              <div class="buttons">
                <a href="https://github.com/CyberSecurityHat"><button class="button detail"> link </button></a>
              </div>
            </article>
          </article>
          <article class="child">
            <h2><a href="#">Developer, Examiner</a></h2>
            <p>
              유지민
            </p>
            <p>
              CUHA 동아리 회원
            </p>
          </article>
        </div>
      </section>
    </footer>
  </body>
</html>