<html>
    <head>
    <title>CUHACTF_Scoreboard</title>
    <%-include('../common/sub_head.ejs') %>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
    <link rel="stylesheet" href="../../stylesheets/scoreboard.css">
    </head>
    <%-include('../common/header.ejs') %>
    <body>
        <div class = 'title_box'>
            <p class = 'title'><b>Scoreboard</b></p>
        </div>

        <!-- partial:index.partial.html -->
        <script type="text/javascript" src="https://www.google.com/jsapi"></script>
        <main>
            <h2>Rank</h2>
            <br>
            <br>
            <div id="bar-chart"></div>
        </main>


        <script src="../../js/scoreboard.js"></script>

        <!-- 출처: https://getbootstrap.com/docs/5.1/content/tables/-->
            <table class="table table-dark table-hover">
                <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">First</th>
                    <th scope="col">Last</th>
                    <th scope="col">Handle</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row">1</th>
                    <td>Mark</td>
                    <td>Otto</td>
                    <td>@mdo</td>
                  </tr>
                  <tr>
                    <th scope="row">2</th>
                    <td>Jacob</td>
                    <td>Thornton</td>
                    <td>@fat</td>
                  </tr>
                  <tr>
                    <th scope="row">3</th>
                    <td colspan="2">Larry the Bird</td>
                    <td>@twitter</td>
                  </tr>
                </tbody>
              </table>
          
    </body>
</html>