<html>

    <head>
    <title>CUHACTF_Submit</title>
    <%-include('../common/sub_head.ejs') %>
    </head>

    <%-include('../common/header.ejs') %>

    <body>
        <div class = 'title_box'>
            <p class = 'title'><b>Submit</b></p>
        </div>
    </body>

</html>