@charset "UTF-8";
* {
  box-sizing: border-box;
}

.wrapper {
  margin: 5em auto;
  max-width: 1000px;
  background-color: #fff;
  background: rgba(0,0,0,.5);
  box-shadow: 0 15px 25px rgba(0,0,0,.6);
}

.header {
  padding: 30px 30px 0;
  text-align: center;
}
.header__title {
  margin: 0;
  text-transform: uppercase;
  font-size: 2.5em;
  font-weight: 500;
  line-height: 1.1;
  color: #1f2c52;
}
.header__subtitle {
  margin: 0;
  font-size: 1.5em;
  color: #949fb0;
  font-family: "Yesteryear", cursive;
  font-weight: 500;
  line-height: 1.1;
}

.challenges_cards {
  padding: 15px;
  display: flex;
  flex-flow: row wrap;
}

.challenges_card {
  margin: 15px;
  width: calc((100% / 3) - 30px);
  transition: all 0.2s ease-in-out;
  box-shadow: 0 5px 10px rgba(0,0,0,.2);
}
@media screen and (max-width: 991px) {
  .challenges_card {
    width: calc((100% / 2) - 30px);
  }
}
@media screen and (max-width: 767px) {
  .challenges_card {
    width: 100%;
  }
}
.challenges_card:hover .challenges_card__inner {
  background-color: #1abc9c;
  transform: scale(1.05);
}
.challenges_card__inner {
  width: 100%;
  padding: 30px;
  position: relative;
  cursor: pointer;
  background-color: #949fb0;
  color: #eceef1;
  font-size: 1.5em;
  text-transform: uppercase;
  text-align: center;
  transition: all 0.2s ease-in-out;
}
.challenges_card__inner:after {
  transition: all 0.3s ease-in-out;
}
.challenges_card__inner .fa {
  width: 100%;
  margin-top: 0.25em;
}
.challenges_card__expander {
  transition: all 0.2s ease-in-out;
  background-color: #333a45;
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  color: #eceef1;
  font-size: 1.5em;
}
.challenges_card__expander .fa {
  font-size: 0.75em;
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}
.challenges_card__expander .fa:hover {
  opacity: 0.9;
}
.challenges_card.is-collapsed .challenges_card__inner:after {
  content: "";
  opacity: 0;
}
.challenges_card.is-collapsed .challenges_card__expander {
  max-height: 0;
  min-height: 0;
  overflow: hidden;
  margin-top: 0;
  opacity: 0;
}
.challenges_card.is-expanded .challenges_card__inner {
  background-color: #1abc9c;
}
.challenges_card.is-expanded .challenges_card__inner:after {
  content: "";
  opacity: 1;
  display: block;
  height: 0;
  width: 0;
  position: absolute;
  bottom: -30px;
  left: calc(50% - 15px);
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-bottom: 15px solid #333a45;
}
.challenges_card.is-expanded .challenges_card__inner .fa:before {
  content: "";
}
.challenges_card.is-expanded .challenges_card__expander {
  max-height: 1000px;
  min-height: 200px;
  overflow: visible;
  margin-top: 30px;
  opacity: 1;
}
.challenges_card.is-expanded:hover .challenges_card__inner {
  transform: scale(1);
}
.challenges_card.is-inactive .challenges_card__inner {
  pointer-events: none;
  opacity: 0.5;
}
.challenges_card.is-inactive:hover .challenges_card__inner {
  background-color: #949fb0;
  transform: scale(1);
}

@media screen and (min-width: 992px) {
  .challenges_card:nth-of-type(3n+2) .challenges_card__expander {
    margin-left: calc(-100% - 30px);
  }

  .challenges_card:nth-of-type(3n+3) .challenges_card__expander {
    margin-left: calc(-200% - 60px);
  }

  .challenges_card:nth-of-type(3n+4) {
    clear: left;
  }

  .challenges_card__expander {
    width: calc(300% + 60px);
  }
}
@media screen and (min-width: 768px) and (max-width: 991px) {
  .challenges_card:nth-of-type(2n+2) .challenges_card__expander {
    margin-left: calc(-100% - 30px);
  }

  .challenges_card:nth-of-type(2n+3) {
    clear: left;
  }

  .challenges_card__expander {
    width: calc(200% + 30px);
  }
}