body{
  
  margin:0;
  padding:0;
  
  background: linear-gradient(#141e30, #163d85);
 
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background: none;
  border: none;
  border-radius: 0.25rem;
}

.container{
  width: 1000px;
  position: relative;
  display: flex;
  justify-content: space-between;
  flex-wrap:wrap;
  
}

.container .card{
  position: relative;
}

.container .card .face{
  width:300px;
  height: 200px;
  transition:.4s;
  
}

.container .card .face.face1{
  position: relative;
  background: #333;
  display: flex;
  justify-content: center;
  align-content:center;
  align-items: center;
  z-index: 1;
  transform: translateY(100px);
}

.container .card:hover .face.face1{
  transform: translateY(0);
  box-shadow:
    inset 0 0 60px whitesmoke,
    inset 20px 0 80px #f0f,
    inset -20px 0 80px #0ff,
    inset 20px 0 300px #f0f,
    inset -20px 0 300px #0ff,
    0 0 50px #fff,
    -10px 0 80px #f0f,
    10px 0 80px #0ff;
   
}


.container .card .face.face1 .content{
  opacity: .2;
  transition:  0.5s;
  text-align: center;
  
   
  
  
 

}

.container .card:hover .face.face1 .content{
  opacity: 1;
 
}

.container .card .face.face1 .content i{
  font-size: 3em;
  color: white;
  display: inline-block;
   
}

.container .card .face.face1 .content h3{
  font-size: 1em;
  color: white;
  text-align: center;
  

}

.container .card .face.face1 .content a{
   transition: .5s;
}

.container .card .face.face2{
   position: relative;
   background: whitesmoke;
   display: flex;
   align-items: center;
   justify-content: center;
   padding: 20px;
  box-sizing: border-box;
  box-shadow: 0 20px 50px rgba(0,0,0,.8);
  transform: translateY(-100px);
}

.container .card:hover .face.face2{
    transform: translateY(0);


}

.container .card .face.face2 .content p, a{
  font-size: 10pt;
  margin: 0 ;
  padding: 0;
  color:#333;
}

.container .card .face.face2 .content a{
  text-decoration:none;
  color: black;
  box-sizing: border-box;
  outline : 1px dashed #333;
  padding: 10px;
  margin: 15px 0 0;
  display: inline-block;
}

.container .card .face.face2 .content a:hover{
  background: #333 ;
  color: whitesmoke; 
  box-shadow: inset 0px 0px 10px rgba(0,0,0,0.5);
}

body {
  background-color: #fdfdfd;
  font-family: "Arial", sans-serif;
  font-size: 14px;
  color: #77808c;
}

.triggers {
  display: flex;
  align-items: center;
  margin-top: 60px;
  flex-direction: column;
}

.triggers label {
  cursor: pointer;
  height: 43px;
  padding: 0 30px;
  display: flex;
  align-items: center;
  font-weight: bold;
  color: #3a4047;
  border: 2px solid #3a4047;
  border-radius: 21.5px;
  box-sizing: border-box;
  margin-top: -40px;
}

/** START POPUP CSS **/

.vcms__popup-check {
  display: none;
}

.vcms__popup {
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.85);
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  visibility: hidden;
  transition: visibility 0s, opacity 0.25s ease-in-out;
  transition-delay: 0.65s, 0.2s;
}

.vcms__popup-check:checked + .vcms__popup {
  opacity: 1;
  visibility: visible;
  transition-delay: 0s, 0s;
}

.vcms__popup .inner {
  width: 540px;
  max-width: 95%;
  border-radius: 20px;
  box-shadow: 0 9px 23px 0 rgba(0, 0, 0, 0.15);
  background-color: #fff;
  box-sizing: border-box;
  margin-bottom: 100px;
  opacity: 0;
  transition: margin-bottom 0.4s cubic-bezier(0.42, 0.72, 0.37, 1.31),
    opacity 0.25s ease-in-out;
  transition-delay: 0s, 0s;
}

.vcms__popup-check:checked + .vcms__popup .inner {
  transition-delay: 0.15s, 0.15s;
  margin-bottom: 0;
  opacity: 1;
}

.vcms__popup .inner .header {
  padding: 20px 25px 13px;
  font-size: 28px;
  color: #fff;
  background-color: #4d555e;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
}

.vcms__popup .inner .txt {
  line-height: 27px;
  padding: 20px 25px;
  max-height: calc(100vh - 260px);
  overflow: auto;
}

.vcms__popup .inner .footer {
  box-sizing: border-box;
  padding: 15px 25px 20px;
  border-top: 1px solid #efefef;
  display: flex;
  justify-content: flex-end;
  background-color: rgba(255, 255, 255, 0.6);
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
}

.vcms__popup .inner .footer .btn {
  height: 43px;
  width: 156px;
  flex-grow: 0;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #3a4047;
  text-decoration: none;
  font-size: 13px;
  border: 2px solid #3a4047;
  border-radius: 21.5px;
  box-sizing: border-box;
  font-weight: 600;
  transition: all 0.15s ease-in-out;
}

.vcms__popup .inner .footer .close {
  height: 43px;
  width: 126px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #bcbcbc;
  text-decoration: none;
  font-size: 13px;
  border: 2px solid #dadada;
  border-radius: 21.5px;
  margin-left: 7px;
  box-sizing: border-box;
  font-weight: 600;
  cursor: pointer;
  flex-grow: 0;
  flex-shrink: 0;
  transition: all 0.15s ease-in-out;
}

.vcms__popup .inner .footer .btn:hover,
.vcms__popup .inner .footer .close:hover {
  background-color: #3a4047;
  color: #fff;
  border: 2px solid #3a4047;
}
