<html>

    <head>
    <title>CUHACTF_Challenges</title>
    <%-include('../common/sub_head.ejs') %>
    </head>

    <%-include('../common/header.ejs') %>

    <body>
      <%-include('../common/challenges.ejs') %>
      <div class="main">
      
        <div class="container-fluid">
      
          <div class="row mt-3 drop">
            <div class="col challenges text-white">
              <div class="a"><b>Challenge Name</b></div>
              <div class="points"><b>
                50 points</b>
                <span class="type">-Warmups-</span>
                <span class="type">Solves 1277-</span>
                <span class="badge badge-success">Easy</span>
              </div>  
            </div> 
          </div>
          
          <div class="panel">
            <p class="text-muted"> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean laoreet finibus neque ut pellentesque. Sed feugiat rhoncus dui, dictum volutpat erat fermentum eu. Praesent malesuada eros turpis, eu blandit ipsum porttitor et. Donec bibendum laoreet massa sit amet pulvinar. Donec ac volutpat est, vitae tempor lacus. Aliquam condimentum euismod ex, vitae molestie lacus rutrum ac. Donec id elit ex. Donec erat nibh, placerat a ante ac, suscipit pharetra magna. Etiam imperdiet vel mauris non mollis.
      </p>
            <a href="#">Link to Challenge</a>
            <form class="form-inline fl-right">
              <div class="form-group mx-sm-3 mb-2">
                <label for="flag" class="sr-only">Flag</label>
                <input type="password" class="form-control" placeholder="flag{some_text_here}">
              </div>
              <button type="submit" class="btn btn-primary mb-2">Confirm Flag</button>
            </form>
          </div>
          
              <div class="row mt-3 drop">
            <div class="col challenges text-white">
              <div class="a"><b>Challenge Name</b></div>
              <div class="points"><b>
                50 points</b>
                <span class="type">-Warmups-</span>
                <span class="type">Solves 1277-</span>
                <span class="badge badge-success">Easy</span>
              </div>  
            </div> 
          </div>
          
          <div class="panel">
            <p class="text-muted"> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean laoreet finibus neque ut pellentesque. Sed feugiat rhoncus dui, dictum volutpat erat fermentum eu. Praesent malesuada eros turpis, eu blandit ipsum porttitor et. Donec bibendum laoreet massa sit amet pulvinar. Donec ac volutpat est, vitae tempor lacus. Aliquam condimentum euismod ex, vitae molestie lacus rutrum ac. Donec id elit ex. Donec erat nibh, placerat a ante ac, suscipit pharetra magna. Etiam imperdiet vel mauris non mollis.
      </p>
            <a href="#">Link to Challenge</a>
            <form class="form-inline fl-right">
              <div class="form-group mx-sm-3 mb-2">
                <label for="flag" class="sr-only">Flag</label>
                <input type="password" class="form-control" placeholder="flag{some_text_here}">
              </div>
              <button type="submit" class="btn btn-primary mb-2">Confirm Flag</button>
            </form>
          </div>
          
           <div class="row mt-3 drop">
            <div class="col challenges text-white">
              <div class="a"><b>Challenge Name</b></div>
              <div class="points"><b>
                50 points</b>
                <span class="type">-Warmups-</span>
                <span class="type">Solves 899-</span>
                <span class="badge badge-success">Easy</span>
              </div>  
            </div> 
          </div>
          
          <div class="panel">
            <p class="text-muted"> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean laoreet finibus neque ut pellentesque. Sed feugiat rhoncus dui, dictum volutpat erat fermentum eu. Praesent malesuada eros turpis, eu blandit ipsum porttitor et. Donec bibendum laoreet massa sit amet pulvinar. Donec ac volutpat est, vitae tempor lacus. Aliquam condimentum euismod ex, vitae molestie lacus rutrum ac. Donec id elit ex. Donec erat nibh, placerat a ante ac, suscipit pharetra magna. Etiam imperdiet vel mauris non mollis.
      </p>
            <a href="#">Link to Challenge</a>
            <form class="form-inline fl-right">
              <div class="form-group mx-sm-3 mb-2">
                <label for="flag" class="sr-only">Flag</label>
                <input type="password" class="form-control" placeholder="flag{some_text_here}">
              </div>
              <button type="submit" class="btn btn-primary mb-2">Confirm Flag</button>
            </form>
          </div>
          
          <div class="row mt-3 drop">
            <div class="col challenges text-white">
              <div class="a"><b>Challenge Name</b></div>
              <div class="points"><b>
                500 points</b>
                <span class="type">-OSINT-</span>
                <span class="type">Solves 33-</span>
                <span class="badge badge-danger">INSANE</span>
              </div>  
            </div> 
          </div>
          
          <div class="panel">
            <p class="text-muted"> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean laoreet finibus neque ut pellentesque. Sed feugiat rhoncus dui, dictum volutpat erat fermentum eu. Praesent malesuada eros turpis, eu blandit ipsum porttitor et. Donec bibendum laoreet massa sit amet pulvinar. Donec ac volutpat est, vitae tempor lacus. Aliquam condimentum euismod ex, vitae molestie lacus rutrum ac. Donec id elit ex. Donec erat nibh, placerat a ante ac, suscipit pharetra magna. Etiam imperdiet vel mauris non mollis.
      </p>
            <a href="#">Link to Challenge</a>
            <form class="form-inline fl-right">
              <div class="form-group mx-sm-3 mb-2">
                <label for="flag" class="sr-only">Flag</label>
                <input type="password" class="form-control" placeholder="flag{some_text_here}">
              </div>
              <button type="submit" class="btn btn-primary mb-2">Confirm Flag</button>
            </form>
          </div>
          
          <div class="row mt-3 drop">
            <div class="col challenges text-white">
              <div class="a"><b>Challenge Name</b></div>
              <div class="points"><b>
                50 points</b>
                <span class="type">-Cryptography-</span>
                <span class="type">Solves 211-</span>
                <span class="badge badge-warning">Medium</span>
              </div>  
            </div> 
          </div>
          
          <div class="panel">
            <p class="text-muted"> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean laoreet finibus neque ut pellentesque. Sed feugiat rhoncus dui, dictum volutpat erat fermentum eu. Praesent malesuada eros turpis, eu blandit ipsum porttitor et. Donec bibendum laoreet massa sit amet pulvinar. Donec ac volutpat est, vitae tempor lacus. Aliquam condimentum euismod ex, vitae molestie lacus rutrum ac. Donec id elit ex. Donec erat nibh, placerat a ante ac, suscipit pharetra magna. Etiam imperdiet vel mauris non mollis.
      </p>
            <a href="#">Link to Challenge</a>
            <form class="form-inline fl-right">
              <div class="form-group mx-sm-3 mb-2">
                <label for="flag" class="sr-only">Flag</label>
                <input type="password" class="form-control" placeholder="flag{some_text_here}">
              </div>
              <button type="submit" class="btn btn-primary mb-2">Confirm Flag</button>
            </form>
          </div>
          
          <div class="row mt-3 drop">
            <div class="col challenges text-white">
              <div class="a"><b>Challenge Name</b></div>
              <div class="points"><b>
                430 points</b>
                <span class="type">-Web Exploitation-</span>
                <span class="type">Solves 436-</span>
                <span class="badge badge-success">Easy</span>
              </div>  
            </div> 
          </div>
          
          <div class="panel">
            <p class="text-muted"> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean laoreet finibus neque ut pellentesque. Sed feugiat rhoncus dui, dictum volutpat erat fermentum eu. Praesent malesuada eros turpis, eu blandit ipsum porttitor et. Donec bibendum laoreet massa sit amet pulvinar. Donec ac volutpat est, vitae tempor lacus. Aliquam condimentum euismod ex, vitae molestie lacus rutrum ac. Donec id elit ex. Donec erat nibh, placerat a ante ac, suscipit pharetra magna. Etiam imperdiet vel mauris non mollis.
      </p>
            <a href="#">Link to Challenge</a>
            <form class="form-inline fl-right">
              <div class="form-group mx-sm-3 mb-2">
                <label for="flag" class="sr-only">Flag</label>
                <input type="password" class="form-control" placeholder="flag{some_text_here}">
              </div>
              <button type="submit" class="btn btn-primary mb-2">Confirm Flag</button>
            </form>
          </div>
          
          <div class="row mt-3 drop">
            <div class="col challenges text-white">
              <div class="a"><b>Challenge Name</b></div>
              <div class="points"><b>
                500 points</b>
                <span class="type">-Binary Exploitation-</span>
                <span class="type">Solves 7-</span>
                <span class="badge badge-danger">Insane</span>
              </div>  
            </div> 
          </div>
         
          <div class="panel">
            <p class="text-muted"> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean laoreet finibus neque ut pellentesque. Sed feugiat rhoncus dui, dictum volutpat erat fermentum eu. Praesent malesuada eros turpis, eu blandit ipsum porttitor et. Donec bibendum laoreet massa sit amet pulvinar. Donec ac volutpat est, vitae tempor lacus. Aliquam condimentum euismod ex, vitae molestie lacus rutrum ac. Donec id elit ex. Donec erat nibh, placerat a ante ac, suscipit pharetra magna. Etiam imperdiet vel mauris non mollis.
      </p> 
            <a href="#">Link to Challenge</a>
            <form class="form-inline fl-right">
              <div class="form-group mx-sm-3 mb-2">
                <label for="flag" class="sr-only">Flag</label>
                <input type="password" class="form-control" placeholder="flag{some_text_here}">
              </div>
              <button type="submit" class="btn btn-primary mb-2">Confirm Flag</button>
            </form>
          </div>
    </body>

</html>