<html>

  <head>
    <title>CUHACTF_Challenges</title>
    <%-include('../common/sub_head.ejs') %>
  </head>

  <%-include('../common/header.ejs') %>

  <body>
    <%-include('../common/challenges_card.ejs') %>        
    <div class="wrapper">
      <div class="header">
        <h1 class="header__title">Web</h1>
        <h2 class="header__subtitle">Web hacking</h2>
      </div>
  
      <div class="challenges_cards">
        <div class=" challenges_card [ is-collapsed ] ">
          <div class="challenges_card__inner [ js-expander ]">
            <sapn>card</span>
            <i class="fa fa-folder-o"></i>
          </div>
          <div class="challenges_card__expander">
            <i class="fa fa-close [ js-collapser ]"></i>
            Expander
          </div>
        </div>
      
        <div class=" challenges_card [ is-collapsed ] ">
          <div class="challenges_card__inner [ js-expander ]">
            <sapn>card</span>
            <i class="fa fa-folder-o"></i>
          </div>
          <div class="challenges_card__expander">
            <i class="fa fa-close [ js-collapser ]"></i>
            Expander
          </div>
        </div>
      
        <div class=" challenges_card [ is-collapsed ] ">
          <div class="challenges_card__inner [ js-expander ]">
            <sapn>card</span>
            <i class="fa fa-folder-o"></i>
          </div>
          <div class="challenges_card__expander">
            <i class="fa fa-close [ js-collapser ]"></i>
            Expander
          </div>
        </div>
      
        <div class=" challenges_card [ is-collapsed ] ">
          <div class="challenges_card__inner [ js-expander ]">
            <sapn>card</span>
            <i class="fa fa-folder-o"></i>
          </div>
          <div class="challenges_card__expander">
            <i class="fa fa-close [ js-collapser ]"></i>
            Expander
          </div>
        </div>
      
        <div class=" challenges_card [ is-collapsed ] ">
          <div class="challenges_card__inner [ js-expander ]">
            <sapn>card</span>
            <i class="fa fa-folder-o"></i>
          </div>
          <div class="challenges_card__expander">
            <i class="fa fa-close [ js-collapser ]"></i>
            Expander
          </div>
        </div>
      
        <div class=" challenges_card [ is-collapsed ] ">
          <div class="challenges_card__inner [ js-expander ]">
            <sapn>card</span>
            <i class="fa fa-folder-o"></i>
          </div>
          <div class="challenges_card__expander">
            <i class="fa fa-close [ js-collapser ]"></i>
            Expander
          </div>
        </div>
      
        <div class=" challenges_card [ is-collapsed ] ">
          <div class="challenges_card__inner [ js-expander ]">
            <sapn>card</span>
            <i class="fa fa-folder-o"></i>
          </div>
          <div class="challenges_card__expander">
            <i class="fa fa-close [ js-collapser ]"></i>
            Expander
          </div>
        </div>
      
        <div class=" challenges_card [ is-collapsed ] ">
          <div class="challenges_card__inner [ js-expander ]">
            <sapn>card</span>
            <i class="fa fa-folder-o"></i>
          </div>
          <div class="challenges_card__expander">
            <i class="fa fa-close [ js-collapser ]"></i>
            Expander
          </div>
        </div>
      
        <div class=" challenges_card [ is-collapsed ] ">
          <div class="challenges_card__inner [ js-expander ]">
            <sapn>card</span>
            <i class="fa fa-folder-o"></i>
          </div>
          <div class="challenges_card__expander">
            <i class="fa fa-close [ js-collapser ]"></i>
            Expander
          </div>
        </div>
      </div>   
    </div>
    <div class="container">
      <div class="front side">
        <div class="content">
          <h1>Challenge</h1>
          <p>Challenge contents</p>
          <br>
          <br>
          <p>hint : </p>
        </div>
      </div>
      <div class="back side">
        <div class="content">
          <h1>Submit</h1>
          <form>
            <label>Server :</label>
            <label> File : </label>
            <br>
            <label style="text-align:center;">Flag</label>
            <textarea placeholder="CUHA{}"></textarea>
            <input type="submit" value="Done">
          </form>
        </div>
      </div>
    </div>
  </body>
</html>