<html>

    <head>
    <title>CUHACTF_Challenges</title>
    <%-include('../common/sub_head.ejs') %>
    </head>

    <%-include('../common/header.ejs') %>

    <body>
        <div class = 'title_box'>
            <p class = 'title'><b>Challenges</b></p>
        </div>

        <div>
            <h1 class = 'category_name'>System</h1>
            <div class="card text-white bg-danger mb-3" style="max-width: 18rem;display:inline-block;margin-top:11rem;margin-left:2.16rem;">
                <div class="card-header">1</div>
                <div class="card-body">
                    <h5 class="card-title">Primary card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
            </div>

            <div class="card text-white bg-danger mb-3" style="max-width: 18rem;display:inline-block;margin-left:15rem;">
                <div class="card-header">2</div>
                <div class="card-body">
                    <h5 class="card-title">Primary card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
            </div>

            <div class="card text-white bg-danger mb-3" style="max-width: 18rem;display:inline-block;margin-left:15rem;">
                <div class="card-header">3</div>
                <div class="card-body">
                    <h5 class="card-title">Primary card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
            </div>
      </div>

        <div>
            <div class="card text-white bg-danger mb-3" style="max-width: 18rem;display:inline-block;margin-left:16.4rem;">
                <div class="card-header">4</div>
                <div class="card-body">
                    <h5 class="card-title">Primary card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
            </div>
        
            <div class="card text-white bg-danger mb-3" style="max-width: 18rem;display:inline-block;margin-left:15rem;">
                <div class="card-header">5</div>
                <div class="card-body">
                    <h5 class="card-title">Primary card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
            </div>
        
            <div class="card text-white bg-danger mb-3" style="max-width: 18rem;display:inline-block;margin-left:15rem;">
                <div class="card-header">6</div>
                <div class="card-body">
                    <h5 class="card-title">Primary card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
            </div>
        </div>
    </body>

</html>