<html>

    <head>
    <title>CUHACTF_Challenges</title>
    <%-include('../common/sub_head.ejs') %>
    </head>

    <%-include('../common/header.ejs') %>

    <body>
        <%-include('../common/challenges.ejs') %>
        <div class="wrapper">

            <div class="header">
              <h1 class="header__title">System</h1>
              <h2 class="header__subtitle">Sytem hacking(Pwn)</h2>
            </div>
          
            <div class="challenges_cards">
          
              <div class=" challenges_card [ is-collapsed ] ">
                <div class="challenges_card__inner [ js-expander ]">
                  <sapn>card</span>
                  <i class="fa fa-folder-o"></i>
                </div>
                <div class="challenges_card__expander">
                  <i class="fa fa-close [ js-collapser ]"></i>
                  Expander
                </div>
              </div>
          
              <div class=" challenges_card [ is-collapsed ] ">
                <div class="challenges_card__inner [ js-expander ]">
                  <sapn>card</span>
                  <i class="fa fa-folder-o"></i>
                </div>
                <div class="challenges_card__expander">
                  <i class="fa fa-close [ js-collapser ]"></i>
                  Expander
                </div>
              </div>
          
              <div class=" challenges_card [ is-collapsed ] ">
                <div class="challenges_card__inner [ js-expander ]">
                  <sapn>card</span>
                  <i class="fa fa-folder-o"></i>
                </div>
                <div class="challenges_card__expander">
                  <i class="fa fa-close [ js-collapser ]"></i>
                  Expander
                </div>
              </div>
          
              <div class=" challenges_card [ is-collapsed ] ">
                <div class="challenges_card__inner [ js-expander ]">
                  <sapn>card</span>
                  <i class="fa fa-folder-o"></i>
                </div>
                <div class="challenges_card__expander">
                  <i class="fa fa-close [ js-collapser ]"></i>
                  Expander
                </div>
              </div>
          
              <div class=" challenges_card [ is-collapsed ] ">
                <div class="challenges_card__inner [ js-expander ]">
                  <sapn>card</span>
                  <i class="fa fa-folder-o"></i>
                </div>
                <div class="challenges_card__expander">
                  <i class="fa fa-close [ js-collapser ]"></i>
                  Expander
                </div>
              </div>
          
              <div class=" challenges_card [ is-collapsed ] ">
                <div class="challenges_card__inner [ js-expander ]">
                  <sapn>card</span>
                  <i class="fa fa-folder-o"></i>
                </div>
                <div class="challenges_card__expander">
                  <i class="fa fa-close [ js-collapser ]"></i>
                  Expander
                </div>
              </div>
          
              <div class=" challenges_card [ is-collapsed ] ">
                <div class="challenges_card__inner [ js-expander ]">
                  <sapn>card</span>
                  <i class="fa fa-folder-o"></i>
                </div>
                <div class="challenges_card__expander">
                  <i class="fa fa-close [ js-collapser ]"></i>
                  Expander
                </div>
              </div>
          
              <div class=" challenges_card [ is-collapsed ] ">
                <div class="challenges_card__inner [ js-expander ]">
                  <sapn>card</span>
                  <i class="fa fa-folder-o"></i>
                </div>
                <div class="challenges_card__expander">
                  <i class="fa fa-close [ js-collapser ]"></i>
                  Expander
                </div>
              </div>
          
              <div class=" challenges_card [ is-collapsed ] ">
                <div class="challenges_card__inner [ js-expander ]">
                  <sapn>card</span>
                  <i class="fa fa-folder-o"></i>
                </div>
                <div class="challenges_card__expander">
                  <i class="fa fa-close [ js-collapser ]"></i>
                  Expander
                </div>
              </div>
          
            </div>
          
          </div>
    </body>

</html>