<!DOCTYPE html>
<html>
  <head>
    <title>CUHACTF_Home</title>
    <%-include('common/index_head.ejs')%>
  </head>
    <%-include('common/header.ejs')%>
      <body>
        <div class="main_title">
          <div class = "index_title">
            <h1 style="font-size: 150px;">
              CUHA <br />
              CTF 2022 <br />
            </h1>
          </div>
        </div>

        <article class="white" style="text-align:center;">
          sql 오류입니다 아래 디스코드로 연락주세요.
          <img class="discord_img" src="https://img.icons8.com/ios/200/000000/discord.png"/>
        </article>

      </body>
</html>