<!DOCTYPE html>
<html>
    <head>
        <title>File Path?!?!</title>
    </head>
    <body>
        <h1>Som3tHing Wr0Ng Ab0ut Fil3 Path & W3b M3th0d!!!</h1>
        <form action="web3/submit" method="post">
        <p style="margin-left:9px;">Let's Find File Path!: <input type="text" name="file_path" required="true"/></p>
        <button type="submit" formmethod="post">submit</button>
        </form>
        
    </body>
</html>