<html>

  <head>
    <title>CUHACTF_Challenges</title>
    <%-include('../../common/sub_head.ejs') %>
  </head>

  <%-include('../../common/header.ejs') %>

  

  <body>
    <%-include('../../common/challenges.ejs') %>
    
   


    <div class="container">
      <div class="card">
        <div class="face face1">
          <div class="content">
             <i class="fab fa-windows"></i>            
            <h3>Challenge1</h3>
            <br>
            <h3>Easy</h3>
          </div>
        </div>
        <div class="face face2">
          <div class="content">
            <br>
            <p> Points : 100</p>
            <br>
            <p> Examiner : 최승용</p>
            <br>
            <div class="triggers">
              <label for="popup-1">Challenge</label>
            </div>
          </div>
        </div>
     </div>

     <div class="card">
      <div class="face face1">
        <div class="content">
           <i class="fab fa-windows"></i>            
          <h3>Challenge2</h3>
          <br>
          <h3>Normal</h3>
        </div>
      </div>
      <div class="face face2">
        <div class="content">
          <br>
          <p> Points : 300pt</p>
          <br>
          <p> Examiner : 김광운</p>
          <br>
          <div class="triggers">
            <label for="popup-2">Challenge</label>
          </div>
        </div>
      </div>
   </div>

      <div class="card">
        <div class="face face1">
          <div class="content">
             <i class="fab fa-windows"></i>            
            <h3>Challenge3</h3>
            <br>
            <h3>Normal</h3>
          </div>
        </div>
        <div class="face face2">
          <div class="content">
            <br>
            <p> Points : 300pt</p>
            <br>
            <p> Examiner : 유지민</p>
            <br>
            <div class="triggers">
              <label for="popup-3">Challenge</label>
            </div>
          </div>
        </div>
     </div>
     
     <div class="card">
      <div class="face face1">
        <div class="content">
           <i class="fab fa-windows"></i>            
          <h3>Challenge4</h3>
          <br>
          <h3>Hard</h3>
        </div>
      </div>
      <div class="face face2">
        <div class="content">
          <br>
          <p> Points : 500pt</p>
          <br>
          <p> Examiner : 유지민</p>
          <br>
          <div class="triggers">
            <label for="popup-4">Challenge</label>
          </div>
        </div>
      </div>
   </div>
     
     


</div>



   <!--
   <div class="card">
    <div class="face face1">
      <div class="content">
         <i class="fab fa-windows"></i>            
        <h3>Challenge5</h3>
        <br>
        <h3>Normal</h3>
      </div>
    </div>
    <div class="face face2">
      <div class="content">
        <br>
        <p> Points : 200</p>
        <br>
        <p> Examiner : 최승용</p>
        <br>
        <div class="triggers">
          <label for="popup-5">Challenge</label>
        </div>
      </div>
    </div>
 </div>
   

 <div class="card">
  <div class="face face1">
    <div class="content">
       <i class="fab fa-windows"></i>            
      <h3>Challenge6</h3>
    </div>
  </div>
  <div class="face face2">
    <div class="content">
      <br>
      <p> Points : </p>
      <br>
      <p> Examiner : </p>
      <br>
      <div class="triggers">
        <label for="popup-6">Challenge</label>
      </div>
    </div>
  </div>
</div>
   
   
   
   
   
   
 </div>

 <div class="container">
  <div class="card">
    <div class="face face1">
      <div class="content">
         <i class="fab fa-windows"></i>            
        <h3>Challenge7</h3>
      </div>
    </div>
    <div class="face face2">
      <div class="content">
        <br>
        <p> Points : </p>
        <br>
        <p> Examiner : </p>
        <br>
        <div class="triggers">
          <label for="popup-7">Challenge</label>
        </div>
      </div>
    </div>
 </div>
 
 <div class="card">
  <div class="face face1">
    <div class="content">
       <i class="fab fa-windows"></i>            
      <h3>Challenge8</h3>
    </div>
  </div>
  <div class="face face2">
    <div class="content">
      <br>
      <p> Points : </p>
      <br>
      <p> Examiner : </p>
      <br>
      <div class="triggers">
        <label for="popup-8">Challenge</label>
      </div>
    </div>
  </div>
</div>
 
 
<div class="card">
  <div class="face face1">
    <div class="content">
       <i class="fab fa-windows"></i>            
      <h3>Challenge9</h3>
    </div>
  </div>
  <div class="face face2">
    <div class="content">
      <br>
      <p> Points : </p>
      <br>
      <p> Examiner : </p>
      <br>
      <div class="triggers">
        <label for="popup-9">Challenge</label>
      </div>
    </div>
  </div>
</div>
-->

<input type="checkbox" class="vcms__popup-check" name="popup-1" id="popup-1">
<div class="vcms__popup">
  <div class="inner">
    <div class="header">
      Challenge1
    </div>
    <div class="txt">
      <p><b>Robot</b></p>
      <br>
      <p>로봇에 대한 가이드를 찾아보세요</p>
      <p><a href='web/web1'>Robot</a></p>  
    </div>
    <form action="/challenge/flag" method="post">
    <div class="footer">
      <button class="btn" type="submit" method="post">Flag</button>
      <input type="hidden" name="challenge_title" value="web1">
      <input class="flag" id="flag" type="text" name='flag' placeholder="CUHA{c_u_h_a_f_l_a_g}" />
      <label class="close" for="popup-1">Close</label>
    </div>
  </div>
</div>
</form>

<input type="checkbox" class="vcms__popup-check" name="popup-2" id="popup-2">
<div class="vcms__popup">
  <div class="inner">
    <div class="header">
      Challenge2
    </div>
    <div class="txt">
      <p><b>Move File Directory</b></p>
      <br>
      <p>파일 디렉토리를 이동하세요</p>
      <p>Link: <a href='/challenges/challenge_web/web/easy/web2'>move file directory</a></p>
    </div>
    <form action="/challenge/flag" method="post">
    <div class="footer">
      <button class="btn" type="submit" method="post">Flag</button>
      <input type="hidden" name="challenge_title" value="web2">
      <input class="flag" id="flag" type="text" name='flag' placeholder="CUHA{c_u_h_a_f_l_a_g}" />
      <label class="close" for="popup-2">Close</label>
    </div>
  </div>
</div>
</form>


 <input type="checkbox" class="vcms__popup-check" name="popup-3" id="popup-3">
<div class="vcms__popup">
  <div class="inner">
    <div class="header">
      Challenge3
    </div>
    <div class="txt">
      <p><b>Easy Peasy SQL</b></p>
      <br>
      <p>이 SQL은 매우 쉽습니다</p>
      <p>Link: <a href='web/web3'>Easy Peasy sql</a></p>
      <p>Hint : <a href='web/download_web3'>Easy_Peasy_sql_chall.js</a></p>  
    </div>
    <form action="/challenge/flag" method="post">
    <div class="footer">
      <button class="btn" type="submit" method="post">Flag</button>
      <input type="hidden" name="challenge_title" value="web3">
      <input class="flag" id="flag" type="text" name='flag' placeholder="CUHA{c_u_h_a_f_l_a_g}" />
      <label class="close" for="popup-3">Close</label>
    </div>
  </div>
</div>
</form>
<input type="checkbox" class="vcms__popup-check" name="popup-4" id="popup-4">
<div class="vcms__popup">
  <div class="inner">
    <div class="header">
      Challenge4
    </div>
    <div class="txt">
      <p><b>Like SQL</b></p>
      <br>
      <p>Do you like SQL INJECTION?</p>
      <p>Link: <a href='web/web4'>like SQL INJECTION</a></p>
      <p>Hint: <a href='web/download_web4'>like_injection_chall.js</a></p>  
    </div>
    <form action="/challenge/flag" method="post">
    <div class="footer">
      <button class="btn" type="submit" method="post">Flag</button>
      <input type="hidden" name="challenge_title" value="web4">
      <input class="flag" id="flag" type="text" name='flag' placeholder="CUHA{c_u_h_a_f_l_a_g}" />
      <label class="close" for="popup-4">Close</label>
    </div>
  </div>
</div>
</form>




<!--
<input type="checkbox" class="vcms__popup-check" name="popup-5" id="popup-5">
<div class="vcms__popup">
  <div class="inner">
    <div class="header">
      Challenge5
    </div>
    <div class="txt">
      <p>Robot</p>
      <p><a href='web/web5'>Robot</a></p>  
    </div>
    <div class="footer">
      <a class="btn" href="#">Flag</a>
      <input class="flag" id="flag" type="text" placeholder="CUHA{c_u_h_a_f_l_a_g}" />
      <label class="close" for="popup-5">Close</label>
    </div>
  </div>
</div>

<input type="checkbox" class="vcms__popup-check" name="popup-6" id="popup-6">
<div class="vcms__popup">
  <div class="inner">
    <div class="header">
      Challenge6
    </div>
    <div class="txt">
      <p>Contents</p>
      <p>Hint : </p>  
    </div>
    <div class="footer">
      <a class="btn" href="#">Flag</a>
      <input class="flag" id="flag" type="text" placeholder="CUHA{c_u_h_a_f_l_a_g}" />
      <label class="close" for="popup-6">Close</label>
    </div>
  </div>
</div>

<input type="checkbox" class="vcms__popup-check" name="popup-7" id="popup-7">
<div class="vcms__popup">
  <div class="inner">
    <div class="header">
      Challenge7
    </div>
    <div class="txt">
      <p>Contents</p>
      <p>Hint : </p>  
    </div>
    <div class="footer">
      <a class="btn" href="#">Flag</a>
      <input class="flag" id="flag" type="text" placeholder="CUHA{c_u_h_a_f_l_a_g}" />
      <label class="close" for="popup-7">Close</label>
    </div>
  </div>
</div>

<input type="checkbox" class="vcms__popup-check" name="popup-8" id="popup-8">
<div class="vcms__popup">
  <div class="inner">
    <div class="header">
      Challenge8
    </div>
    <div class="txt">
      <p>Contents</p>
      <p>Hint : </p>  
    </div>
    <div class="footer">
      <a class="btn" href="#">Flag</a>
      <input class="flag" id="flag" type="text" placeholder="CUHA{c_u_h_a_f_l_a_g}" />
      <label class="close" for="popup-8">Close</label>
    </div>
  </div>
</div>

<input type="checkbox" class="vcms__popup-check" name="popup-9" id="popup-9">
<div class="vcms__popup">
  <div class="inner">
    <div class="header">
      Challenge9
    </div>
    <div class="txt">
      <p>Contents</p>
      <p>Hint : </p>  
    </div>
    <div class="footer">
      <a class="btn" href="#">Flag</a>
      <input class="flag" id="flag" type="text" placeholder="CUHA{c_u_h_a_f_l_a_g}" />
      <label class="close" for="popup-9">Close</label>
    </div>
  </div>
</div>
-->
  </body>
</html>