<!DOCTYPE html>
<html>
    <head>
        <title>Easy Peasy sql</title>
    </head>
    <body>
        <h1>Easy Peasy sql!</h1>
        <form action="web3/submit" method="post">
        <p style="margin-left:9px;">Are you admin?: <input type="id" name="id" value="" required="true"/></p>
        <!--<p>PW: <input type="text" name="pw" value=""/></p>!-->
        <button type="submit" formmethod="post">login</button>
        </form>
        
    </body>
</html>