<!DOCTYPE html>
<html>
    <head>
        <title>What is xss?</title>
    </head>
    <body>
        <h1>What is xss?</h1>
        <form action="web4/submit" method="post">
        <p style="margin-left:9px;">input the value: <input type="text" name="xss" value="" required="true"/></p>
        <button type="submit" formmethod="post">submit</button>
        </form>
        
    </body>
</html>