<!DOCTYPE html>
<html>
    <head>
        <title>SQL INJECTION</title>
    </head>
    <body>
        <h1>Do you like SQL INJECTION?</h1>
        <form action="web4/submit" method="get">
        <p style="margin-left:9px;">ID: <input type="id" name="id" value="" required="true"/></p>
        <p>PW: <input type="text" name="pw" value=""/></p>
        <button type="submit" formmethod="post">login</button>
        </form>
        
    </body>
</html>