<html>

  <head>
    <title>CUHACTF_Challenges</title>
    <%-include('../../common/sub_head.ejs') %>
  </head>

  <%-include('../../common/header.ejs') %>

  

  <body>
    <%-include('../../common/challenges.ejs') %>
    
   

 
   <div class="container">
      <div class="card">
        <div class="face face1">
          <div class="content">
             <i class="fab fa-windows"></i>            
            <h3>Challenge1</h3>
            <br>
            <h3>Easy</h3>
          </div>
        </div>
        <div class="face face2">
          <div class="content">
            <br>
            <p> Points : 100pt</p>
            <br>
            <p> Examiner : 김광운</p>
            <br>
            <div class="triggers">
              <label for="popup-1">Challenge</label>
            </div>
          </div>
        </div>
     </div>
     
     <div class="card">
      <div class="face face1">
        <div class="content">
           <i class="fab fa-windows"></i>            
          <h3>Challenge2</h3>
          <br>
          <h3>Easy</h3>
        </div>
      </div>
      <div class="face face2">
        <div class="content">
          <br>
          <p> Points : 100pt</p>
          <br>
          <p> Examiner : 장현호</p>
          <br>
          <div class="triggers">
            <label for="popup-2">Challenge</label>
          </div>
        </div>
      </div>
   </div>

     <div class="card">
      <div class="face face1">
        <div class="content">
           <i class="fab fa-windows"></i>            
          <h3>Challenge3</h3>
          <br>
          <h3>Easy</h3>
        </div>
      </div>
      <div class="face face2">
        <div class="content">
          <br>
          <p> Points : 100pt</p>
          <br>
          <p> Examiner : 김광운</p>
          <br>
          <div class="triggers">
            <label for="popup-3">Challenge</label>
          </div>
        </div>
      </div>
   </div>
     
     
   <div class="card">
    <div class="face face1">
      <div class="content">
         <i class="fab fa-windows"></i>            
        <h3>Challenge4</h3>
        <br>
        <h3>Easy</h3>
      </div>
    </div>
    <div class="face face2">
      <div class="content">
        <br>
        <p> Points : 100pt</p>
        <br>
        <p> Examiner : 김광운</p>
        <br>
        <div class="triggers">
          <label for="popup-4">Challenge</label>
        </div>
      </div>
    </div>
 </div>
     
 <div class="card">
  <div class="face face1">
    <div class="content">
       <i class="fab fa-windows"></i>            
      <h3>Challenge5</h3>
      <br>
      <h3>Easy</h3>
    </div>
  </div>
  <div class="face face2">
    <div class="content">
      <br>
      <p> Points : 100pt</p>
      <br>
      <p> Examiner : 최승용</p>
      <br>
      <div class="triggers">
        <label for="popup-5">Challenge</label>
      </div>
    </div>
  </div>
</div>     
     

<div class="card">
  <div class="face face1">
    <div class="content">
       <i class="fab fa-windows"></i>            
      <h3>Challenge6</h3>
      <br>
      <h3>Normal</h3>
    </div>
  </div>
  <div class="face face2">
    <div class="content">
      <br>
      <p> Points : 300pt</p>
      <br>
      <p> Examiner : 최승용</p>
      <br>
      <div class="triggers">
        <label for="popup-6">Challenge</label>
      </div>
    </div>
  </div>
</div>

  <div class="card">
    <div class="face face1">
      <div class="content">
         <i class="fab fa-windows"></i>            
        <h3>Challenge7</h3>
        <br>
        <h3>Hard</h3>
      </div>
    </div>
    <div class="face face2">
      <div class="content">
        <br>
        <p> Points : 500pt</p>
        <br>
        <p> Examiner : 장현호</p>
        <br>
        <div class="triggers">
          <label for="popup-7">Challenge</label>
        </div>
      </div>
    </div>
 </div>
</div>
   



 
   
   <!--
 <div class="card">
  <div class="face face1">
    <div class="content">
       <i class="fab fa-windows"></i>            
      <h3>Challenge8</h3>
    </div>
  </div>
  <div class="face face2">
    <div class="content">
      <br>
      <p> Points : </p>
      <br>
      <p> Examiner : </p>
      <br>
      <div class="triggers">
        <label for="popup-8">Challenge</label>
      </div>
    </div>
  </div>
</div>
 
 
<div class="card">
  <div class="face face1">
    <div class="content">
       <i class="fab fa-windows"></i>            
      <h3>Challenge9</h3>
    </div>
  </div>
  <div class="face face2">
    <div class="content">
      <br>
      <p> Points : </p>
      <br>
      <p> Examiner : </p>
      <br>
      <div class="triggers">
        <label for="popup-9">Challenge</label>
      </div>
    </div>
  </div>
</div>
-->

<input type="checkbox" class="vcms__popup-check" name="popup-1" id="popup-1">
<div class="vcms__popup">
  <div class="inner">
    <div class="header">
      Challenge1
    </div>
    <div class="txt">
      <p><b>Welcome</b></p>
      <br>
      <p>CUHA CTF를 참여해주셔서 감사합니다.</p>
      <p>Hint : CUHA CTF 페이지를 잘 살펴보세요</p>
     
    </div>
    <form action="/challenge/flag" method="post">
    <div class="footer">
      <button class="btn" type="submit" method="post">Flag</button>
      <input type="hidden" name="challenge_title" value="misc1">
      <input class="flag" id="flag" type="text" name='flag' placeholder="CUHA{c_u_h_a_f_l_a_g}" />
      <label class="close" for="popup-1">Close</label>
    </div>
  </div>
</div>
</form>

<input type="checkbox" class="vcms__popup-check" name="popup-2" id="popup-2">
<div class="vcms__popup">
  <div class="inner">
    <div class="header">
      Challenge2
    </div>
    <div class="txt">
      <p><b>Discord</b></p>
      <br>
      <p>CUHA CTF 2022의 디스코드를 잘 살펴보세요</p>
    </div>
    <form action="/challenge/flag" method="post">
    <div class="footer">
      <button class="btn" type="submit" method="post">Flag</button>
      <input type="hidden" name="challenge_title" value="misc2">
      <input class="flag" id="flag" type="text" name='flag' placeholder="CUHA{c_u_h_a_f_l_a_g}" />
      <label class="close" for="popup-2">Close</label>
    </div>
  </div>
</div>
</form>

 <input type="checkbox" class="vcms__popup-check" name="popup-3" id="popup-3">
<div class="vcms__popup">
  <div class="inner">
    <div class="header">
      Challenge3
    </div>
    <div class="txt">
      <p><b>coffee</b></p>
      <br>
      <p>커피 한 잔 하면서 하세요</p>
      <p><a href='misc/download_misc3'>coffee.jpg</a></p>
    </div>
    <form action="/challenge/flag" method="post">
    <div class="footer">
      <button class="btn" type="submit" method="post">Flag</button>
      <input type="hidden" name="challenge_title" value="misc3">
      <input class="flag" id="flag" type="text" name='flag' placeholder="CUHA{c_u_h_a_f_l_a_g}" />
      <label class="close" for="popup-3">Close</label>
    </div>
  </div>
</div>
</form>
<input type="checkbox" class="vcms__popup-check" name="popup-4" id="popup-4">
<div class="vcms__popup">
  <div class="inner">
    <div class="header">
      Challenge4
    </div>
    <div class="txt">
      <p><b>dig_flag</b></p>
      <br>
      <p>은닉처를 파보면 플래그가 나올 것 같아요</p>
      <p><a href='misc/download_misc4'>dig_flag.jpg</a></p>
    </div>
    <form action="/challenge/flag" method="post">
    <div class="footer">
      <button class="btn" type="submit" method="post">Flag</button>
      <input type="hidden" name="challenge_title" value="misc4">
      <input class="flag" id="flag" type="text" name='flag' placeholder="CUHA{c_u_h_a_f_l_a_g}" />
      <label class="close" for="popup-4">Close</label>
    </div>
  </div>
</div>
</form>

<input type="checkbox" class="vcms__popup-check" name="popup-5" id="popup-5">
<div class="vcms__popup">
  <div class="inner">
    <div class="header">
      Challenge5
    </div>
    <div class="txt">
     <p><b>QR code</b></p>
     <br>
     <p>QR 코드가 분리되고 말았어요. 원상복구 하실 수 있으신가요?</p>
     <p><a href='misc/download_misc5'>QR_ctf.png</a></p>
    </div>
    <form action="/challenge/flag" method="post">
    <div class="footer">
      <button class="btn" type="submit" method="post">Flag</button>
      <input type="hidden" name="challenge_title" value="misc5">
      <input class="flag" id="flag" type="text" name='flag' placeholder="CUHA{c_u_h_a_f_l_a_g}" />
      <label class="close" for="popup-5">Close</label>
    </div>
  </div>
</div>
</form>

<input type="checkbox" class="vcms__popup-check" name="popup-6" id="popup-6">
<div class="vcms__popup">
  <div class="inner">
    <div class="header">
      Challenge6
    </div>
    <div class="txt">
     <p><b>SHOW_ME_THE_GOLD</b></p>
     <br>
     <p>리그오브레전드를 플레이 중인데, 이미지의 아랫 부분이 잘려 골드가 얼마 있는지를 확인 할 수 없어요. 
        다시 늘려주면 좋을 것 같아요.</p>
        <p>CUHA{FULL_ITEM_GOLD_골드량}</p>
     <p><a href='misc/download_misc6'>ctf.zip</a></p>
    </div>
    <form action="/challenge/flag" method="post">
    <div class="footer">
      <button class="btn" type="submit" method="post">Flag</button>
      <input type="hidden" name="challenge_title" value="misc6">
      <input class="flag" id="flag" type="text" name='flag' placeholder="CUHA{c_u_h_a_f_l_a_g}" />
      <label class="close" for="popup-6">Close</label>
    </div>
  </div>
</div>
</form>

<input type="checkbox" class="vcms__popup-check" name="popup-7" id="popup-7">
<div class="vcms__popup">
  <div class="inner">
    <div class="header">
      Challenge7
    </div>
    <div class="txt">
     <p><b>OSINT with Reports</b></p>
     <br>
     <p>청주대학교에 재생 공격(replay attack) 취약점이 2019년 11월 5일에 보고되었습니다. 해당 문서에 나오는 해시값을 찾을 수 있나요?</p>
     <p>Hint: “청주대학교 전자출결 시스템 취약점 보고서”</p>
    </div>
    <form action="/challenge/flag" method="post">
    <div class="footer">
      <button class="btn" type="submit" method="post">Flag</button>
      <input type="hidden" name="challenge_title" value="misc7">
      <input class="flag" id="flag" type="text" name='flag' placeholder="CUHA{c_u_h_a_f_l_a_g}" />
      <label class="close" for="popup-7">Close</label>
    </div>
  </div>
</div>
</form>









<!--

<input type="checkbox" class="vcms__popup-check" name="popup-8" id="popup-8">
<div class="vcms__popup">
  <div class="inner">
    <div class="header">
      Challenge8
    </div>
    <div class="txt">
      <p>Contents</p>
      <p>Hint : </p>  
    </div>
    <div class="footer">
      <a class="btn" href="#">Flag</a>
      <input class="flag" id="flag" type="text" placeholder="CUHA{c_u_h_a_f_l_a_g}" />
      <label class="close" for="popup-8">Close</label>
    </div>
  </div>
</div>

<input type="checkbox" class="vcms__popup-check" name="popup-9" id="popup-9">
<div class="vcms__popup">
  <div class="inner">
    <div class="header">
      Challenge9
    </div>
    <div class="txt">
      <p>Contents</p>
      <p>Hint : </p>  
    </div>
    <div class="footer">
      <a class="btn" href="#">Flag</a>
      <input class="flag" id="flag" type="text" placeholder="CUHA{c_u_h_a_f_l_a_g}" />
      <label class="close" for="popup-9">Close</label>
    </div>
  </div>
</div>
-->
  </body>
</html>